.titulo{
    font-weight: bold;
    color: #000;
}

@media screen and (max-width: 1280px){
    .ctn-title{
        margin-bottom: 5%;
    }
    .titulo{
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 428px){
    .ctn-title{
        margin-top: -100px;
    }

    .titulo{
        font-size: 1.8rem;
    }
}

.tabela-config{
    background-color: #A4D7E1;
    border-radius: 10px;
    border-collapse: collapse;
}

.ctn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-add{
    padding: 15px 35px;
    background-color: #7EC6D4;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-left: -40px;
    transition: 0.5s;
}

.btn-add:hover{
    background-color: #A4D7E1;
    transform: scale(1.01);
}

.btn-pesquisar{
    padding: 10px 20px;
    background-color: #7EC6D4;
    border: none;
    border-radius: 5px;
    color: #005b96;
    font-weight: bold;
}

.container-form{
    margin-top: 13rem;
}

@media (max-width: 768px){
    .tabela-config{
        background-color: #A4D7E1;
        border-radius: 5px;
        width: 50%;
        border-collapse: collapse;
    }

    .icon-trash{
        padding: 15px 0px;
    }
    
    .icon-vector{
        padding: 15px 0px;
    }

    tr{
        text-align: center;
    }

    th{
        padding: 18px 12px;
    }
    
    td{
        padding: 0px 10px;
    }
}

@media (max-width: 990px){
    .tabela-config{
        background-color: #A4D7E1;
        border-radius: 5px;
        width: 50%;
    }

    .icon-trash{
        padding: 10px;
    }
    
    .icon-vector{
        padding: 10px;
    }

    tr{
        text-align: center;
        
    }
}